@import "@/../public/fonts/Groteska/stylesheet.css";
@import "@/../public/fonts/Helvetica/stylesheet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: white;
  --red: #F63737;
  --gray: #484848;
  --light-gray: #A0A0A0;
  --dark-gray: #1B1B1B;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: white;*/
/*    --foreground: #050505;*/
/*  }*/
/*}*/

body {
  color: var(--foreground);
  background: var(--background);
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*:not(.no-transition) {
  transition: .3s all;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a,
button {
  cursor: pointer;
}

input, textarea {
  outline: none;
}

textarea {
  transition-duration: 0s;
  resize: none;
}
