@import "@/../public/fonts/Groteska/stylesheet.css";
@import "@/../public/fonts/Helvetica/stylesheet.css";
@import "@/../public/fonts/SfProDisplay/stylesheet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: white;
  --red: #F63737;
  --gray: #484848;
  --light-gray: #A0A0A0;
  --dark-gray: #1B1B1B;
  --black: #050505;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: white;*/
/*    --foreground: #050505;*/
/*  }*/
/*}*/

body {
  color: var(--foreground);
  background: var(--background);
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*:not(.no-transition) {
  transition: .3s all;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a,
button {
  cursor: pointer;
}

input, textarea {
  outline: none;
}

textarea {
  transition-duration: 0s;
  resize: none;
}

.swiper-wrapper {
  gap: 10px;
}

.nav_link_line {
  position: absolute;
  bottom: 2px;
  left: 0.8em;
  width: calc(100% - (0.8em * 2));
  height: 1.5px;
  background-color: var(--red);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s cubic-bezier(.75, 0, .25, 1), background-color 0.3s ease-in-out;
}

.nav_link_click:hover .nav_link_line {
  transform: scaleX(1);
  transform-origin: left;
}

.nav_link_click[data-link-status="active"] .nav_link_line {
  transform: scaleX(1);
  transform-origin: left;
  background-color: var(--gray);
}