@import "@/../public/fonts/Groteska/stylesheet.css";
@import "@/../public/fonts/Helvetica/stylesheet.css";
@import "@/../public/fonts/SfProDisplay/stylesheet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: white;
  --red: #F63737;
  --gray: #484848;
  --light-gray: #A0A0A0;
  --dark-gray: #1B1B1B;
  --black: #050505;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: white;*/
/*    --foreground: #050505;*/
/*  }*/
/*}*/

html {
  overflow-x: hidden;
}

html, body {
  touch-action: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

*:not(.no-transition):not(g, rect, line) {
  transition: .3s all;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a,
button {
  cursor: pointer;
}

input, textarea {
  outline: none;
}

textarea {
  transition-duration: 0s;
  resize: none;
}

.nav_link_line {
  position: absolute;
  bottom: 2px;
  left: 0.8em;
  width: calc(100% - (0.8em * 2));
  height: 1.5px;
  background-color: var(--red);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s cubic-bezier(.75, 0, .25, 1), background-color 0.3s ease-in-out;
}

.nav_link_click:hover .nav_link_line {
  transform: scaleX(1);
  transform-origin: left;
}

.nav_link_click[data-link-status="active"] .nav_link_line {
  transform: scaleX(1);
  transform-origin: left;
  background-color: var(--gray);
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  .swiper-pagination-bullet {
    width: 25px !important;
    height: 25px !important;
    margin: 0 !important;
    opacity: 100% !important;
    position: relative;
    background: transparent !important;
  }

  .swiper-pagination-bullet::before {
    content: '';
    width: 5px !important;
    height: 5px !important;
    background: var(--gray) !important;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    border-radius: 50%;
  }

  .swiper-pagination-bullet-active::before {
    background: white !important;
  }
}

.main_swiper .swiper-pagination {
  bottom: 160px !important;

  @media (max-width: 767px) {
    bottom: 140px !important;
  }
}

.comparison_swiper .swiper-pagination {
  height: fit-content !important;
  top: auto !important;
  width: 100% !important;
  bottom: 57px !important;
}

.textEffect {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #ebebeb -2px, #000000 5px, #000000 0px);
  background-size: 9px 100%;
  mix-blend-mode: hard-light;
  pointer-events: none;
}
