.marqueeContent {
    display: flex;
    will-change: transform;
    transform: translateX(var(--marquee-offset, 0));
    /*animation: marquee 30s linear infinite;*/
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}
